.connexionContainer{
    background-color:beige;
border:1px solid green;
text-align: center;
margin-top:50px;
margin-left:500px;
width:50%;
border-radius: 10px;
}

.connexionContainer h2{
    color:green;
    font-weight: 900;
    font-size:30px;
}

.connexionContainer label{
    font-size:20px;
    font-weight: 500;
}

.connexionContainer input{
margin:10px;
color:black;
background-color: lightgreen;
border-radius: 10px;
width: 240px;
padding:10px;
border:none;
}

.connexionContainer input:hover{
    transform: scale(1.1);
}

.loginButton{
    background-color: green;
    border:none;
    font-size: 20px;
    border-radius: 10px;
    padding:20px;
    width: 260px;
    margin:20px;
}

.loginButton:hover{
    background-color: lightgreen;
    color:black;
    font-weight: 600;
    transform: scale(1.1);
}

.loginPastries{
    background-image: url(pastries.png);
    background-size: cover;
  background-repeat: no-repeat;
  margin:20px 20px 20px 400px;
  width:10vw;
  height:10vh;
}